//--------------------------------------------------------------
// Buttons
//--------------------------------------------------------------
button,
.button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	appearance: none;
	background-color: $seaweed-green;
	border: none;
	border-radius: 0;
	border-width: 0;
	color: $color-button-text;
	line-height: 1.5;
	margin: 0;
	padding: 16px 18px; // IE 11 helper.
	.ie & {
		height: rem(35);
	} // .ie &
	&:hover {
		background-color: $color-button-background-hover;
	} // &:hover
	&:active,
	&:focus {
		background-color: $color-button-background-hover;
	} // &:active, &:focus
} // button, input[type="button"], input[type="reset"], input[type="submit"]
.secondary-btn {
	background-color: $color-whitesmoke;
	color: $brownish-orange;
}

.cta-button {
	p {
		display: flex;
		align-items: center;
		button {
			width: 140px;
		}
	}
	span {
		background-color: $color-cod-gray;
		border-radius: 50%;
		position: absolute;
		left: 50%;
		margin-left: -10px;
		font-size: 9px;
		display: flex;
		width: 20px;
		height: 20px;
		justify-content: center;
		align-items: center;
	}
}

.primary-btn {
	background-color: $color-whitesmoke;
	color: $seaweed-green;
}

.button-hero {
	padding: 16px 43px;
}