//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------
.site-info {
  text-align: center;
  color: #E9E8dE;
  span {
    p {
      margin: 0;
    }
  }
} // .site-info
.site-footer {
  background-color: $dark-teal;
  .grid-container {
    margin: 0 auto;
    max-width: 1140px;
  }
  .grid-x {
    @include outer-container();
    max-width: 80rem;
  }
  .cell {
    text-align: center;
    padding: 20px;
    @include media($desktop) {
      text-align: start;
      padding: 5px;
    }
    h3 {
      margin-bottom: 15px;
    }
    h3,
    p {
      color: #E9E8dE;
    }
    p {
      font-size: 16px;
      font-weight: 300;
      padding-bottom: 0
    }
    a {
      color: #E9E8dE;
      text-decoration: none;
      &:hover {
        color: #fff;
      }
    }
    .golden {
      display: flex;
      align-items: center;
      a {
        padding: 10px;
        img {
          max-width: 100%;
        }
      }
    }
    @include span-columns(12);
    @include media(min-width 640px) {
      @include span-columns(6 of 12);
      @include omega(2n);
    }
    @include media(min-width 960px) {
      @include omega-reset(2n);
      @include span-columns(3 of 12);
      @include omega(4n);
    }
    .site-branding {
      margin: auto;
      float: none;
      .social-icons {
        display: block;
        padding-top: 20px;
        text-align: center;
        @include media($desktop) {
          display: flex;
        }
        a {
          color: #E9E8dE;
          font-size: 12px;
          .fa-inverse {
            color: $dark-teal;
          }
        }
      }
    }
  }
}