.board-of-trustees {
    .boar-header {
        text-align: center;
        padding: 30px;
    }
    .member-grid {
        @include outer-container();
        .member-info {
            text-align: center;
            @include span-columns(6);
            @include omega(2n);
            @include media(min-width 640px) {
                @include omega-reset(2n);
                @include span-columns(4 of 12);
                @include omega(3n);
            }
            @include media(min-width 960px) {
                @include omega-reset(3n);
                @include span-columns(3 of 12);
                @include omega(4n);
            }
            p {
                font-size: 18px;
                font-weight: 300;
            }
        }
    }
}