.centered-vid {
    .grid-x {
        padding: 20px 20px;
        .heading {
            text-align: center;
            padding-bottom: 30px;
            color: $seaweed-green;
        }
        .centered-video {
            display: flex;
            justify-content: center;
        }
    }
}