//--------------------------------------------------------------
// Fifty Fifty Blocks
//--------------------------------------------------------------
.fifty-fifty {
    .heading {
        text-align: center;
        h2 {
            margin: 0;
            font-size: 36px;
            padding: 20px;
        }
    }
    .flex-direct {
        display: flex;
        flex-direction: column-reverse;
        @include media($tablet-portrait) {
            flex-direction: row;
        }
    }
    .grid-x {
        padding: 20px;
        @include media($tablet-portrait) {
            display: flex;
            align-items: center;
        }
    }
    .cell {
        @include span-columns(12);
        .text-tittle {
            color: $pine;
            font-size: 24px;
        }
        @include media($tablet-portrait) {
            @include span-columns(6);
            margin-right: 3.25% !important;
        }
    }
    .left-image,
    .left-text {
        margin-right: 20px;
    }
} // .fifty-fifty