.front-video {
    .grid-x {
        @include outer-container;
        padding: 30px;
        .video {
            @include span-columns(12);
            @include media($desktop) {
                @include span-columns(6);
            }
            .embed-container {
                position: relative;
                padding-bottom: 56.25%;
                overflow: hidden;
                max-width: 100%;
                height: auto;
            }
            .embed-container iframe,
            .embed-container object,
            .embed-container embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            h3 {
                padding: 20px 0;
                color: $seaweed-green;
                font-size: 20px;
            }
        }
        .contents {
            @include span-columns(12);
            @include media($desktop) {
                margin-left: 20px;
                @include span-columns(5);
                h3 {
                    font-size: 25px;
                    line-height: normal;
                    padding-bottom: 20px;
                }
            }
            h3 {
                font-size: 20px;
            }
            p {
                font-weight: 100;
            }
        }
        .centerbtn {
            text-align: center;
        }
    }
}