//--------------------------------------------------------------
// Global Content Block Styles
//--------------------------------------------------------------
.content-block {
	//margin-bottom: $gutter * 2;
	// Content Block titles.
	&-title {
		text-align: center;
		@include media($tablet-portrait) {
			text-align: left;
		}
	} // .content-block-title
	.grid-x {
		padding: 20px;
		h1,
		h3,
		h4,
		h2,
		p {
			margin: 0;
			color: #333333;
		}
		p {
			padding-bottom: 15px;
		}
		.generic-header {
			text-align: center;
			font-size: 40px;
			padding-top: 10px;
		}
	}
} // .content-block