.learn-more {
    .grid-x {
        padding: 32px 2px;
        text-align: center;
        @include outer-container();
        .lern-more-content {
            .logo {
                @include span-columns(12);
                @include media($desktop) {
                    @include span-columns(2 of 12);
                }
                img {
                    max-width: 58px;
                    height: auto;
                    @include media($desktop) {
                        float: right;
                    }
                }
            }
            .heading {
                @include span-columns(12);
                background-color: #e9e8de;
                @include media($desktop) {
                    @include span-columns(7 of 12);
                }
                h3 {
                    font-size: 30px;
                    color: $seaweed-green;
                    span {
                        padding-left: 20px;
                        font-size: 12px;
                    }
                }
            }
            .btn {
                @include span-columns(12);
                @include media($desktop) {
                    @include span-columns(2 of 12);
                }
            }
        }
    }
}