.volunteers {
    text-align: center;
    .heading {
        padding-top: 30px;
        font-size: 36px;
    }
    .content-area {
        text-align: start;
        font-size: 18px;
        line-height: 1.33;
        padding-bottom: 20px;
    }
}