.staff-members {
    .grid-x {
        .boar-header {
            text-align: center;
            padding: 20px;
        }
        .member-grid {
            @include outer-container();
            .member-info {
                padding: 20px;
                text-align: center;
                @include span-columns(12);
                @include media(min-width 640px) {
                    @include span-columns(6 of 12);
                    @include omega(2n);
                }
                @include media(min-width 960px) {
                    @include omega-reset(2n);
                    @include span-columns(4 of 12);
                    @include omega(3n);
                }
                img {
                    max-height: 250px;
                }
                p {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }
    }
}

.regional-members {
    .grid-x {
        .boar-header {
            text-align: center;
            padding: 20px;
        }
        .member-grid {
            @include outer-container();
            .member-info {
                padding: 20px;
                text-align: center;
                @include span-columns(12);
                @include media(min-width 640px) {
                    @include span-columns(4 of 12);
                    @include omega(3n);
                }
                @include media(min-width 960px) {
                    @include omega-reset(3n);
                    @include span-columns(3 of 12);
                    @include omega(4n);
                }
                img {
                    max-height: 250px;
                }
                p {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    strong {
                        font-size: 15px;
                        font-weight: 900;
                        color: $dark-teal;
                    }
                }
                .name {
                    font-size: 18px;
                    font-weight: 300;
                }
                .location {
                    font-size: 10px;
                    font-weight: 300;
                }
            }
        }
    }
}