//--------------------------------------------------------------
// Homepage Template
//--------------------------------------------------------------
#content {
    margin: 0 auto;
}

.blog {
    .site-main {
        padding: 0;
        margin: 0;
        .page-header {
            text-align: center;
            padding: 50px 0 20px;
            ;
            h2 {
                font-family: proxima-nova;
                font-weight: 400;
                font-style: normal;
                font-size: 32px;
                letter-spacing: 0px;
                text-transform: none;
                line-height: 1.2em;
                padding-top: 20px;
                margin-bottom: 0;
            }
        }
    }
    .blog-post {
        margin-bottom: 17px;
        padding: 20px;
        @include outer-container();
        box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.1);
        @include media($desktop) {
            box-shadow: none;
        }
        .featured-image {
            margin-right: 0 !important;
            @include span-columns(12);
            @include media($desktop) {
                @include span-columns(4);
            }
            img {
                width: 100%;
                height: auto;
                @include media($desktop) {
                    width: 267px;
                }
            }
        }
        .entry-content {
            margin: 0;
            @include span-columns(12);
            @include media($desktop) {
                @include span-columns(8);
            }
            .entry-title {
                font-size: 16px;
                text-align: start;
                a {
                    text-decoration: none;
                }
            }
            .entry-meta {
                span {
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .press-clippings {
        box-shadow: 0 3px 3px 0 rgba(0, 0.1, 0.1, 0.1);
        @include media($desktop) {
            box-shadow: none;
        }
        ol,
        ul {
            margin: 0 !important;
        }
        a {
            text-decoration: none;
            color: $seaweed-green;
        }
    }
}