.page-template-volunteer {
    .site-content {
        @include outer-container();
        max-width: 87rem;
        .volunteer {
            display: flex !important;
            justify-content: center;
            @include span-columns(12);
            @include media($desktop) {
                display: block;
                @include span-columns(2);
            }
        }
        .volunteer-content {
            @include span-columns(12);
            @include media($desktop) {
                @include span-columns(8);
            }
        }
    }
    .volunteer-programs {
        max-width: 57rem;
        margin: auto;
    }
}

//styles for the donation page
.donation-box {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.logo-grid {
    @include outer-container();
    .logo {
        @include span-columns(12);
        @include media(min-width 640px) {
            @include span-columns(6 of 12);
            @include omega(2n);
        }
        @include media(min-width 960px) {
            @include omega-reset(2n);
            @include span-columns(4 of 12);
            @include omega(3n);
        }
        a {
            display: flex;
            justify-content: center;
            img {
                height: 130px;
                width: auto;
            }
        }
    }
}