.entry-header{
    h1{

        text-align: center;
    }
}

#content .gform_wrapper input[type=email],
 #content .gform_wrapper input[type=file], 
 #content .gform_wrapper input[type=number], 
 #content .gform_wrapper input[type=password], 
 #content .gform_wrapper input[type=tel], 
 #content .gform_wrapper input[type=text], 
 #content .gform_wrapper input[type=url], 
 #content .gform_wrapper textarea{
    width: 100%!important;
    outline: none;
}
.gform_heading{
display: none;
}