//--------------------------------------------------------------
// Global Link Styles
//--------------------------------------------------------------
a {
	color: $color-link;
	transition: $transition-opacity;
	&:visited {
		color: $color-link-visited;
	} // &:visited
	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
		text-shadow: 0 0 11px #ffffff;
	} // &:hover, &:focus, &:active
} // a