//--------------------------------------------------------------
// Widgets
//--------------------------------------------------------------
.widget {
	margin: 0 0 rem(24); // Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	} // select
	// Extend the h3 style for the widget titles.
	.widget-title {
		@extend .h3 !optional;
		font-weight: 300;
		font-style: normal;
		font-size: 22px;
		letter-spacing: 0px;
		text-transform: uppercase;
		text-decoration: none;
		line-height: 1.2em;
		color: $seaweed-green;
		margin-bottom: .5em;
	} // .widget-title
	ul {
		margin: 0;
		padding: 0;
		li {
			a {
				text-decoration: none;
				color: #666;
				&:hover,
				&:active {
					color: $seaweed-green;
				}
			}
		}
	}
} // .widget
// Search widget.
.widget_search .search-submit {
	display: none;
} // .widget_search .search-submit
.volunteer {
	@include span-columns(4);
	text-align: start;
	.widget {
		h2 {
			margin: 0;
			text-decoration: underline;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			li {
				a {
					text-decoration: none;
					color: #666;
					&:hover,
					&:active {
						color: $seaweed-green;
					}
				}
			}
		}
	}
}